* {
  color: #404040;
  font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}

li, p, a {
  font-size: 11pt;
  font-family: Georgia, Garamond, sans-serif;
}

h1, h2, h3, h4, h5, .links > a{
  color: #A4A400;
  background-color: #f0f0f0;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

.list-style-none {
  padding-left: 0;
}
.list-style-none li {
  list-style-type: none;
}

.directions-list li span {
  font-weight: bold;
}

.comment {
  margin-left: 25px;
  background-color: #efef8d;
  font-style: italic;
}

th,td {
  margin: 5px;
  padding: 5px;
}

.line-through {
  text-decoration: line-through;
}

.copyright > p{
  text-align: right;
  padding-right: 80%;
  font-family: 'Courier New', monospace;
}
