body {
    background-color: rgb(224, 229, 231);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px 250px 75px 150px;
  }
  
#name {
    margin: 15px 15px 15px 15px;
    border-bottom: 2px solid rgb(241, 71, 71);
    padding-bottom: 5px;
}

a {
  color: red;
}

th,td {
    margin: 5px;
    padding: 5px;
}

ul {
  font-style: italic;
}
  